*{
  background-color: white;
  color: black;
  font-family: Helvetica;
}


.container{
  //border: 1px solid black;
  padding: 10px;

}

iframe {
  height: 800px;
  width: 800px;
  border: 1px solid black;
}

img{
  object-fit: cover;

}

.card{
  margin-top: 10px;
}
